# Node modules
node_modules/
node_modules


# Build output directory
out/
dist/

# Environment files
.env
.env.local
.env.development
.env.test
.env.production

# macOS system files
.DS_Store

# Log files
*.log
logs/